@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2a2929;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    color: #F6C808;
}

.card {
    background: #404244;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 700px;
    border-radius: 1rem;
    position: relative;
}


.logo {
    width: 10rem;
}

.input-num {
    background: linear-gradient(45deg, #FECC00, #5C6A7C);
    outline: none;
    border: 0px solid;
    padding: 10px 40px;
    border-radius: 8px;
    color:rgb(255, 255, 255);
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    font-weight: 700;
}

.input-sum {
    background-color: #3b3b3b;
    outline: none;
    border: none;
    padding: 15px 10px;
    border-radius: 0px 8px 8px 0px;
    width: 150px;
    color: white;
    padding-left: 5px;
}

h4{
    background: #FECC00;
    border-radius: 5px;
    
}